@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
body {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #eeecec;
    color: #333;
}

header {
    background: #2f75bb;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #333;
    padding: 10px;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

nav ul li a:hover {
    background: #575757;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
 
}
footer p{
    text-align: center;
}


 
p{
    text-align: justify;
}